### Thermostat mini

# Ignore all files
*

# Don't ignore Git files
!.gitignore
!readme.md

###--- Datasheets
!datashits/**

###--- Docs
!docs/**
!info/**

###--- Modeling
!modeling/*.pdsprj

###--- Images
!images/**


###--- Scheme
# Don't ignore KiCad files
!scheme/**/*.kicad_pcb
!scheme/**/*.pro
!scheme/**/*.sch

# Don't ignore KiCad lib
!scheme/**/*.lib
!scheme/**/*.pretty
!scheme/**/*.pretty/*.kicad_mod

# Don't ignore gerber archive
!gerber/**.zip


# Even if they are in subdirectories
!**/